
.test0 {
    color: blue;
}

@media only screen and (min-width: 768px){
 
    .test {
        color: red;
    }
     
}

.test2 {
    color: blue;
}

@media only screen and (min-width: 768px){
 
    .test3 {
        color: green;
    }
     
}

.test4 {
    color: yellow;
}